.playlists{
    overflow-x: hidden;
}

.no_parent{
    color: white;
    font-size: 3rem;
    margin-left: 3rem;
    margin-bottom: 2rem;
}

.artist_page_dp{
    width: 24rem;
    height: 24rem;
    border-radius: 50%;
}

.artist_page_dp img{
    height:100%;
    border-radius: 50%;
}