*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 600;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif\; */
    /* font-family: 'Roboto Serif', serif; */
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 1px;
}

body{
    height: 100vh;
}

:root{
    font-size: 62.5%;
}

.app{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
}

a{
    color: white;
    text-decoration: none;
}